version: "3.9"
   
services:
  sonarqube:
    image: sonarqube
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    ports:
      - 9000:9000
  db:
    image: postgres
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=voucher-pool
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  sonarqube-analysis:
    image: sonarsource/sonarqube-scan
    environment:
      - SONAR_HOST_URL=http://sonarqube:9000
      - SONAR_TOKEN=b4d6ca44e4f86e8bf813a71725ebd9a9c148dd21
  api:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    restart: unless-stopped
    depends_on:
      - db